<% include ../partials/header %>

<div class="container">
    <div class="row">
        <h1 style="text-align: center">Add new comment to <%= item.summary %></h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/items/<%= item._id %>/comments" method="POST">
                <div class="form-group">
                    <textarea class=form-control name="comment[text]" placeholder="Comment" rows="10" autofocus></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit</button>
                </div>
            </form>
            <a class="btn btn-primary btn-block" href="/items/<%= item._id %>">Go back!</a>
        </div>
        </br>
        </br>
    </div>
</div>
<% include ../partials/footer %>